<!-- <app-header title="Slides"></app-header> -->

<ion-content>
  <ion-slides pager="true" class="slide-full" [options]="slideOpts">
    <ion-slide *ngFor="let item of slides">
      <ion-card mode="ios">
        <ion-img [src]="item.img" class="slide-image"></ion-img>
        <ion-card-header>
          <ion-card-subtitle> {{item.titulo}} </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content> {{item.desc}} </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-button (click)="onClick()" expand="block" fill="outline" shape="round">
        Comenzar
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
