<app-header title="Alert"></app-header>
<ion-content>
  <ion-button (click)="presentAlert()" expand="block"> Open Alert </ion-button>
  <ion-button (click)="presentAlertMultipleButtons()" expand="block">
    Open Alert Multiple Buttons</ion-button
  >

  <ion-button (click)="presentAlertConfirm()" expand="block">
    Open Alert Confirm</ion-button
  >
  <ion-button (click)="presentAlertPrompt()" expand="block">
    Open Alert Prompt</ion-button
  >
  <ion-button (click)="presentAlertRadio()" expand="block">
    Open Alert Radio</ion-button
  >
  <ion-button (click)="presentAlertCheckbox()" expand="block">
    Open Alert Check Box</ion-button
  >
</ion-content>
