<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Avatar</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <!-- <img src="/assets/ted.png" /> -->
        <ion-img src="/assets/ted.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip
    color="primary"
    mode="ios"
    outline="true"
    *ngFor="let item of [1,1,1,1,1]"
  >
    <ion-avatar>
      <img src="/assets/ted.png" />
    </ion-avatar>
    <ion-label color="secondary">Ted</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item *ngFor="let item of [1,1,1,1]">
      <ion-avatar slot="start">
        <img src="/assets/ted.png" />
      </ion-avatar>
      <ion-label color="success">Ted</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title color="warning">Avatar Footer</ion-title>
    <ion-buttons slot="start">
      <ion-avatar>
        <img src="/assets/ted.png" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
